/* Overall layout adjustments */
.App {
  font-family: 'Roboto', sans-serif;
  color: #393E46;
  background-color: #F5FBFF;
  padding: 40px;
}

/* Header and Titles */
h1 {
  text-align: center;
  font-weight: 600;
  font-size: 80px;
  color: #393E46;
}

h2 {
  padding: 0 350px;
  text-align: left;
  font-weight: 500;
  font-family: 'Mulish', sans-serif;
  font-size: 36px;
  color: #3DB08B;
}

form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Improved input and button styling */
input[type="text"], input[type="file"], input[type="range"], button {
  width: 90%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  text-align: center;
  font-family: 'Mulish', sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin: 10px 0;
}

.form-check {
  display: block;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.form-check:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  border-color: #667085;
}

.form-check input[type="checkbox"] {
  cursor: pointer;
  float: left;
  margin-right: 10px;
}

.option-header {
  text-align: left;
  display: block;
  color: #344054;
  font-family: 'Mulish', sans-serif;
  font-size: 14px;
  line-height: 150%;
}

.work-style p {
  text-align: left;
  font-family: 'Mulish', sans-serif;
  margin-top: 5px;
  padding-left: 30px;
  font-size: 14px;
  color: #667085;
}

.form-check-label {
  text-align: left;
  display: block;
  width: 100%;
}

.interaction-style p {
  text-align: left;
  font-family: 'Mulish', sans-serif;
  margin-top: 5px;
  padding-left: 30px;
  font-size: 14px;
  color: #667085;
}

.upload-section {
  text-align: center;
  margin-top: 20px;
}

.upload-label {
  font-size: 24px;
  font-weight: 500;
  font-family: 'Mulish', sans-serif;
  color: #344054;
  margin-bottom: 10px;
}

.drag-drop-area {
  border: 2px dashed #ccc;
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: border-color 0.3s ease-in-out;
}

.drag-drop-area:hover {
  border-color: #0F91D2;
}

.file-info {
  color: rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
}

.file-info-success {
  color: #3DB08B; /* Green color for success message */
  font-size: 16px;
  margin-bottom: 10px;
}

button[type="button"], button[type="submit"] {
  color: white;
  border: none;
  padding: 12px 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 40%; /* Full width button */
  display: block;
  margin: 20px auto;
}

button[type="button"]:hover, button[type="submit"]:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}

.button-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px;
}

.back-button {
  background-color: #e0e0e0; /* Light grey background */
  color: #393E46; /* Dark text color */
  /* hard override the width */
  width: 30%;
  /* Adjust the width to make the button smaller */
}

.back-button:hover {
  background-color: #c0c0c0; /* Slightly darker grey on hover */
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}

.next-button {
  background-color: #2C97EB;
  color: white;
  width: 30%; /* Adjust the width to make the button smaller */
}

.next-button:hover {
  background-color: #205D8C;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}

.select-file-button {
  background-color: #2C97EB;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.select-file-button:hover {
  background-color: #205D8C;
  color: white;
}

.recommendation {
  margin-bottom: 20px;
}

.regenerate-button {
  background-color: #2C97EB;
  color: white;
  border: none;
  padding: 12px 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 60%; /* Adjust the width as needed */
  display: block;
  margin: 20px auto;
}

.regenerate-button:hover {
  background-color: #205D8C;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}