/* Overall layout adjustments */

.App {
  font-family: 'Roboto', sans-serif; /* Consistent font for the app */
  color: #393E46; /* Primary text color */
  background-color: #F5FBFF; /* Light blue background for the app */
  padding: 40px; /* More padding for overall app */
}

/* Header and Titles */
h1 {
  text-align: center; /* Align header to the center */
  font-weight: 600; /* Lighter font weight for headers */
  font-size: 80px;
  color: #393E46;

}

/* paragraph styling */
h2 {
  /*add some padding to the left and right of the screen*/
  padding: 0 350px;
  text-align: left;
  /* semi-bold font weight */
  font-weight: 500; 
  font-family: 'Mulish', sans-serif; /* Font for paragraphs */
  font-size: 36px; /* Larger font size for paragraphs */
  color: #3DB08B; /* Green color for paragraphs */

}
/* Form styling */
form {
  width: 100%; /* Full width of its container to match the design */
  max-width: 600px; /* Limit form width for better form control */
  margin: 0 auto; /* Center form horizontally */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Improved input and button styling */
input[type="text"], input[type="file"], input[type="range"], button {
  width: 90%; /* Making inputs take 90% of form's width */
  padding: 12px;
  margin: 10px 0; /* Vertical margin for separation */
  border: 1px solid #ccc;
  border-radius: 5px;
}

/*label styling*/
label {
  /*center align the label*/
  text-align: center;
  /*font mulish*/
  font-family: 'Mulish', sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin: 10px 0;
}
.form-check {
  display: block;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: box-shadow 0.3s ease, border-color 0.3s ease; /* Ensure smooth transitions */
}

.form-check:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* More pronounced shadow */
  border-color: #667085; /* Change border color on hover for visibility */
}


.form-check input[type="checkbox"] {
  cursor: pointer;
  float: left; /* Ensures checkbox aligns neatly to the left */
  margin-right: 10px; /* Space between checkbox and label */
}

.option-header {
  text-align: left;
  display: block; /* Ensures it takes full width for alignment */
  color: #344054;
  font-family: 'Mulish', sans-serif;
  font-size: 14px;
  line-height: 150%;
}

.work-style p {
  text-align: left;
  font-family: 'Mulish', sans-serif;
  margin-top: 5px;
  /*give a bit of padding on the left so that it lines up with the header*/
  padding-left: 30px;
  font-size: 14px;
  color: #667085;
}

/* Ensure label takes up the entire width of the container */
.form-check-label {
  /*alight left*/
  text-align: left;
  display: block;
  width: 100%;
}
.interaction-style p {
  text-align: left;
  font-family: 'Mulish', sans-serif;
  margin-top: 5px;
  /*give a bit of padding on the left so that it lines up with the header*/
  padding-left: 30px;
  font-size: 14px;
  color: #667085;
}





.upload-section {
  text-align: center;
  margin-top: 20px;
}

.upload-label {
  font-size: 24px;
  font-weight: 500;
  font-family: 'Mulish', sans-serif;
  color: #344054;
  margin-bottom: 10px;
}

.drag-drop-area {
  border: 2px dashed #ccc;
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: border-color 0.3s ease-in-out;
}

.drag-drop-area:hover {
  border-color: #0F91D2;
}

.file-info {
  color: rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
}

submitbutton {
  color: #0F91D2;
  border: 2px solid #0F91D2;
  background-color: #fff;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

submitbutton:hover {
  background-color: #0F91D2;
  color: #fff;
}


/* Button styling */
button {
  background-color: #2C97EB; /* Green background */
  color: white;
  border: none;
  padding: 12px 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 40%; /* Full width button */
  /* Center button */
  display: block;
  margin: 20px auto;
}


button:hover {
  background-color: #205D8C;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}
