<!DOCTYPE html>
<html>
<head>
  <title>Apptitude.fyi</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <h1>Apptitude.fyi</h1>
  <h3>Enter your job preferences</h3>
  <form action="/" method="post">
    <input type="text" name="preference" placeholder="Enter what you like to do" required />
    <input type="text" name="work_life_balance" placeholder="Enter your work-life balance" required />
    <input type="text" name="salary_desire" placeholder="Enter your desired salary" required />

    <input type="submit" value="Generate Job Recommendations" />
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}
</body>
</html>